# The node environment (local, dev, qa, production, test (for unit testing only))
NODE_ENV=local

# The port this server will run on
PORT=3000

# Logging Setup
# Log Levels are ERROR, WARN, INFO, DEBUG, SILLY
# Log Transports is a comma separated list of transport names
LOG_LEVEL=DEBUG
LOG_TRANSPORTS=nest,console
